* {
  margin: 0;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

code {
  font-family: source-code-pro, "Courier New", Courier, "Courier New", Courier,
    monospace;
}
